body{
    background: #ff6500; 
    color: #001e34; 
    line-height: 2em;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6{
    color: #f5f5f5;  
    font-weight: bolder;
}
#container{
    width: 100%;
    text-align: center;
}
#header{
    background: #294a58;
    text-align: center;
}
#nav{
    text-align: center;
}
#nav a{
    color: #ffffff; 
    font-style: normal;
    text-decoration: none;
}
a:hover{
    background: #0000ff;
}
#footer{
    color: #294a58;
    font-weight: bold;
    font-size: 300%;
    line-height: 100%;
    font-family: Helvetica, Verdana, serif;
    text-align: center;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$ layout $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
div{
    width: 100%;
}
div.cyan{
    background: cyan;
    padding-top: 1em;
}
div.wrapper{
    word-wrap: break-word;
    text-align: center;
    background: #817980;
}
div.wrapper h2, div.wrapper h3, div.wrapper h4 {
    color: #740014;
}
div.xapper{
    background: #0af50a;
    margin: 5em auto;
}
.loaf{
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.one{
    width: 10%;
}
.two{                                    /* !!!!!!!!!!!!!!! */
    width: 20%;
}
.three{
    width: 30%;
}
.four{
    width: 40%;
}
.five{
    width: 50%;
}
.six{
    width: 60%;
}
.seven{
    width: 70%;
}
.eight{
    width: 80%;
}
.nine{
    width: 90%;
}
.ten{
    width: 100%;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$ decoration $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.button{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    padding: 2% 0.5%;
    border: 5px solid #00bd50;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;                  /* for old version of firefox */
    box-shadow:      5px 20px 5px 5px #bd006d;
    -moz-box-shadow: 5px 20px 5px 5px #bd006d;  /* for old version of firefox */
    color: #00ff00; /* border: green */
    color: #ff0000; /* text:   red   */
    display: inline-block;
    text-decoration: none;
}
/* widths are set due to padding and other unknown spaces... */
.onebtn{
    width: 99%;
}
.twobtn{
    width: 48%;
}
.threebtn{
    width: 31%;
}
.fourbtn{
    width: 23%;         
}
.fivebtn{
    width: 18%;
}
.sixbtn{
    width: 14.5%;
}
