body{
    background: #ff6500; 
    color: #001e34; 
    line-height: 2em;
}
h1, h2, h3, h4, h5, h6{
    color: #f5f5f5;  
    font-weight: bold;
}
.button{
    width: auto;
    text-align: center;
    padding: 10px 40px;
    border: 1em solid #00bd50;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;                  /* for old version of firefox */
    box-shadow:      5px 20px 5px 5px #bd006d;
    -moz-box-shadow: 5px 20px 5px 5px #bd006d;  /* for old version of firefox */
    color: #00ff00; /* green */
    color: #ff0000; /* red   */
    display: inline-block;
    text-decoration: none;
}
.buttonx{
    width: auto;
    text-align: center;
    padding: 10px 40px;
    border: 1em solid #00bd50;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;                 
    box-shadow:      10px 20px 10px 20px #bd006d;
    -moz-box-shadow: 10px 20px 10px 20px #bd006d;
    color: #00ff00; /* green */
    color: #ff0000; /* red   */
    display: inline-block;
    text-decoration: none;
}
#container{
    width: auto;
}
#header{
    background-color: #294a58;
}
#content{
    height: auto;
    width: auto;
}
#nav a{
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
}
a:hover{
    background-color: #0000ff;
}
#footer{
    color: #294a58;
    text-align: center;
}



