body{
    background: #ff6500; 
    color: #001e34; 
    line-height: 2em;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6{
    color: #f5f5f5;  
    font-weight: bolder;
}
.button{
    width: auto;
    text-align: center;
    padding: 10px 40px;
    border: 1em solid #00bd50;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;                  /* for old version of firefox */
    box-shadow:      5px 20px 5px 5px #bd006d;
    -moz-box-shadow: 5px 20px 5px 5px #bd006d;  /* for old version of firefox */
    color: #00ff00; /* green */
    color: #ff0000; /* red   */
    display: inline-block;
    text-decoration: none;
}
.buttonx{
    width: auto;
    text-align: center;
    padding: 10px 40px;
    border: 1em solid #00bd50;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;                 
    box-shadow:      10px 20px 10px 20px #bd006d;
    -moz-box-shadow: 10px 20px 10px 20px #bd006d;
    color: #00ff00; /* green */
    color: #ff0000; /* red   */
    display: inline-block;
    text-decoration: none;
}
#container{
    width: 100%;
    text-align: center;
}
#header{
    background: #294a58;
    text-align: center;
}
#content{
    height: auto;
    width: 100%;
    text-align: center;
}
#nav a{
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
}
a:hover{
    background: #0000ff;
}
#footer{
    color: #294a58;
    text-align: center;
}
div.cyan{
    background: cyan;
    padding-top: 4em;
}
div.wrapper{
    word-wrap: break-word;
    background: #6f6194;
}
div.wrapper h2, div.wrapper h3, div.wrapper h4 {
    color: #740014;
}
div.xapper{
    background: #0af50a;
    margin: 10em auto;
}
.loaf{
    display: inline-block;
}
.one{
    width: 10%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.two{                                    /* !!!!!!!!!!!!!!! */
    width: 20%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.three{
    width: 30%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.four{
    width: 40%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.five{
    width: 50%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.six{
    width: 60%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.seven{
    width: 70%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.eight{
    width: 80%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.nine{
    width: 90%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
.ten{
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: thick;
}
